<!-- 表单模板 -->
<fc-layoutpanel class="templateform" [fcFull]="true">
    <fc-layoutrow fcSpan="20" fccontent>
        <fc-tlbform [fcAppid]="appId" fccontent1 (fcEvent)="tlbformEvent($event)"></fc-tlbform>
        <form fccontent2 class="templateform-form">
                <fc-title fcLabel="部门基本信息" fcBorder="bottom" fccontent fcWidth="99%"></fc-title>  
            <fc-layoutcol fcSpans="1,1" fccontent>
                <div fccontent1>
                    <fc-text [fcLabel]="'部门代码'" name="SDEPT_CODE" [(ngModel)]="mainObj.SDEPT_CODE" fcRequire="Y"
                        [fcValid]="mainValid.SDEPT_CODE"></fc-text>
                    <fc-text [fcLabel]="'部门名称'" name="SDEPT_NAME" [(ngModel)]="mainObj.SDEPT_NAME" fcRequire="Y"
                        [fcValid]="mainValid.SDEPT_NAME"></fc-text>
                    <fc-combo fcLabel="上级部门" [(ngModel)]="mainObj.SUPERIOR" name="SUPERIOR" [fcAppid]="appId"
                        fcFieldCode="SUPERIOR" [fcValid]="mainValid.SUPERIOR" fcValueCode="SDEPT_CODE" fcLabelCode="SDEPT_NAME"
                        fcShowSearch="Y"></fc-combo>
                    <fc-text [fcLabel]="'负责人'" name="SPRINCIPALVALUE" [(ngModel)]="mainObj.SPRINCIPALVALUE" fcRequire="Y"
                        [fcValid]="mainValid.SPRINCIPALVALUE"></fc-text>
                    <fc-text [fcLabel]="'排序码'" name="SDRDER_CODE" [(ngModel)]="mainObj.SDRDER_CODE" fcRequire="Y"
                        [fcValid]="mainValid.SDRDER_CODE"></fc-text>
                </div>
                <div fccontent2>
                    <fc-date [fcLabel]="'生效日期'" [(ngModel)]="mainObj.SBEGIN_DATE" name="SBEGIN_DATE"></fc-date>
                    <fc-text [fcLabel]="'部门简称'" name="SDEPT_SHORTNAME" [(ngModel)]="mainObj.SDEPT_SHORTNAME" fcRequire="Y"
                        [fcValid]="mainValid.SDEPT_SHORTNAME"></fc-text>
                    <fc-text [fcLabel]="'部门性质'" name="SDEPT_PROPERTY" [(ngModel)]="mainObj.SDEPT_PROPERTY" fcRequire="Y"
                        [fcValid]="mainValid.SDEPT_PROPERTY"></fc-text>
                    <fc-text [fcLabel]="'联系电话'" name="textname" fcAppid="appId" fcFieldCode="APPNAME"></fc-text>

                    <fc-combo fcLabel="状态" [(ngModel)]="mainObj.BSTOP_FLAG" name="BSTOP_FLAG" [fcAppid]="appId"
                        fcFieldCode="BSTOP_FLAG" [fcValid]="mainValid.BSTOP_FLAG" fcValueCode="DICVALUE" fcLabelCode="DICDESC"
                        name="BSTOP_FLAG"></fc-combo>
                </div>
            </fc-layoutcol>
            <fc-layoutcol fcSpans="1,0" fccontent>
                <div fccontent1>
                    <fc-textarea [fcLabel]="'备注说明 '" name="textareaname1" [fcCol]="'1'" [fcRow]="'2'"></fc-textarea>
                </div>
            </fc-layoutcol>
        </form>
    </fc-layoutrow>
</fc-layoutpanel>