<!-- 选项卡表单模板 -->
<fc-layoutpanel class="templatetabform">
    <fc-layoutrow fcSpan="50" fccontent>
        <fc-tlbform [fcAppid]="'SYSAPP'" fcheader fccontent1></fc-tlbform>
        <form fccontent2 class="templatetabform-head" fccontent2>
            <fc-layoutpanel fccontent id="id0">
                <fc-title fcLabel="客户基本信息0" fcBorder="bottom" fcheader fcWidth="96%"></fc-title>
                <nz-tabset fccontent>
                    <nz-tab nzTitle="基本状态">
                        <div>
                            <fc-layoutcol fcSpans="1,1">
                                <div fccontent1>
                                    <fc-text [fcLabel]="'文本框'" name="textname"></fc-text>
                                    <fc-combo [fcLabel]="'下拉单选'" [(ngModel)]="comboValue" [fcOption]="comboOptions" name="comboname"></fc-combo>
                                    <fc-date [fcLabel]="'日期'" name="datename"></fc-date>
                                    <fc-double [fcLabel]="'数值'" [(ngModel)]="doubleValue" name="doublename"></fc-double>
                                    <fc-text [fcLabel]="'后置标签'" [(ngModel)]="addonbefore" [fcAddOnAfterIcon]="'icon iconfont  fc-icon-unit'" name="textoutright"></fc-text>
                                    <fc-text [fcLabel]="'内部前缀'" [(ngModel)]="addonbefore" [fcPrefixIcon]="'icon iconfont  fc-icon-revocation'" name="textinner"></fc-text>
                                    <fc-text [fcLabel]="'内部后缀'" [(ngModel)]="addonbefore" [fcSuffixIcon]="'icon iconfont  fc-icon-revocation'" name="textout"></fc-text>
                                    <fc-textarea [fcLabel]="'大文本框'" name="textareaname" [fcRow]="'2'"></fc-textarea>
                                </div>
                                <div fccontent2>
                                    <fc-any [fcLabel]="'自定义下拉单选'" [(ngModel)]="anyValue" [fcOption]="anyOptions" name="anyname"></fc-any>
                                    <fc-many [fcLabel]="'自定义下拉多选'" [(ngModel)]="manyValue" [fcOption]="manyOptions" name="manyname"></fc-many>
                                    <fc-chosen [fcLabel]="'下拉多选'" [fcLabel]="'下拉多选'" [(ngModel)]="chosenValue" [fcOption]="chosenOptions" name="chosename"></fc-chosen>
                                    <fc-datetime [fcLabel]="'日期时间'" name="datetimename"></fc-datetime>
                                    <fc-text [fcLabel]="'后置标签文本'" [(ngModel)]="addonbefore" [fcAddOnAfter]="'万元'" name="textoutright0"></fc-text>
                                    <fc-check [fcLabel]="'多选'" [(ngModel)]="checkValue" [fcOption]="checkOptions" name="checkname"></fc-check>
                                    <fc-radio [fcLabel]="'单选'" [(ngModel)]="radioValue" [fcOption]="radioOptions" name="radioname"></fc-radio>
                                    <fc-switch [fcLabel]="'开关'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="switchname"></fc-switch>
                                </div>
                            </fc-layoutcol>
                            <fc-layoutcol fcSpans="1,0">
                                <div fccontent1>
                                    <fc-textarea [fcLabel]="'占一列的大文本框'" name="textareaname1" [fcCol]="'1'" [fcRow]="'2'"></fc-textarea>
                                </div>
                            </fc-layoutcol>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="只读状态">
                        <div>
                            <fc-layoutcol fcSpans="1,1">
                                <div fccontent1>
                                    <fc-text [fcLabel]="'文本框'" name="textname2" fcReadonly="Y"></fc-text>
                                    <fc-combo [fcLabel]="'下拉单选'" [(ngModel)]="comboValue" [fcOption]="comboOptions" fcReadonly="Y" name="comboname2"></fc-combo>
                                    <fc-date [fcLabel]="'日期'" name="datename2" fcReadonly="Y"></fc-date>
                                    <fc-double [fcLabel]="'数值'" [(ngModel)]="doubleValue" fcReadonly="Y" name="doublename2"></fc-double>
                                    <fc-text [fcLabel]="'后置标签'" [(ngModel)]="addonbefore" [fcAddOnAfterIcon]="'icon iconfont fc-icon-unit'" name="textoutright2"
                                        fcReadonly="Y"></fc-text>
                                    <fc-text [fcLabel]="'内部前缀'" [(ngModel)]="addonbefore" [fcPrefixIcon]="'icon iconfont fc-icon-revocation'" name="textinner2"
                                        fcReadonly="Y"></fc-text>
                                    <fc-text [fcLabel]="'内部后缀'" [(ngModel)]="addonbefore" [fcSuffixIcon]="'icon iconfont fc-icon-revocation'" name="textout2"
                                        fcReadonly="Y"></fc-text>
                                    <fc-textarea [fcLabel]="'大文本框'" name="textareaname2" [fcRow]="'2'" [fcReadonly]="'Y'"></fc-textarea>
                                </div>
                                <div fccontent2>
                                    <fc-any [fcLabel]="'自定义下拉单选'" [(ngModel)]="anyValue" [fcOption]="anyOptions" name="anyname2" fcReadonly="Y"></fc-any>
                                    <fc-many [fcLabel]="'自定义下拉多选'" [(ngModel)]="manyValue" [fcOption]="manyOptions" name="manyname2" fcReadonly="Y"></fc-many>
                                    <fc-chosen [fcLabel]="'下拉多选'" [fcLabel]="'下拉多选'" [(ngModel)]="chosenValue" [fcOption]="chosenOptions" name="chosename2" fcReadonly="Y"></fc-chosen>
                                    <fc-datetime [fcLabel]="'日期时间'" name="datetimename2" fcReadonly="Y"></fc-datetime>
                                    <fc-text [fcLabel]="'后置标签文本'" [(ngModel)]="addonbefore" [fcAddOnAfter]="'万元'" name="textoutright1" fcReadonly="Y"></fc-text>
                                    <fc-check [fcLabel]="'多选'" [(ngModel)]="checkValue" [fcOption]="checkOptions" name="checkname2" fcReadonly="Y"></fc-check>
                                    <fc-radio [fcLabel]="'单选'" [(ngModel)]="radioValue" [fcOption]="radioOptions" name="radioname2" fcReadonly="Y"></fc-radio>
                                    <fc-switch [fcLabel]="'开关'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="switchname2"
                                        fcReadonly="Y"></fc-switch>
                                </div>
                            </fc-layoutcol>
                            <fc-layoutcol fcSpans="1,0">
                                <div fccontent1>
                                    <fc-textarea [fcLabel]="'占一列的大文本框'" name="textareaname1" [fcCol]="'1'" [fcRow]="'2'" fcReadonly="Y"></fc-textarea>
                                </div>
                            </fc-layoutcol>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="禁用状态">
                        <div>
                            <fc-layoutcol fcSpans="1,1">
                                <div fccontent1>
                                    <fc-text [fcLabel]="'文本框'" name="textname2" [fcDisabled]="'Y'"></fc-text>
                                    <fc-combo [fcLabel]="'下拉单选'" [(ngModel)]="comboValue" [fcOption]="comboOptions" [fcDisabled]="'Y'" name="comboname2"></fc-combo>
                                    <fc-date [fcLabel]="'日期'" name="datename2" [fcDisabled]="'Y'"></fc-date>
                                    <fc-double [fcLabel]="'数值'" [(ngModel)]="doubleValue" [fcDisabled]="'Y'" name="doublename2"></fc-double>
                                    <fc-text [fcLabel]="'后置标签'" [(ngModel)]="addonbefore" [fcAddOnAfterIcon]="'icon iconfont fc-icon-unit'" name="textoutright3"
                                        [fcDisabled]="'Y'"></fc-text>
                                    <fc-text [fcLabel]="'内部前缀'" [(ngModel)]="addonbefore" [fcPrefixIcon]="'icon iconfont fc-icon-revocation'" name="textinner2"
                                        [fcDisabled]="'Y'"></fc-text>
                                    <fc-text [fcLabel]="'内部后缀'" [(ngModel)]="addonbefore" [fcSuffixIcon]="'icon iconfont fc-icon-revocation'" name="textout2"
                                        [fcDisabled]="'Y'"></fc-text>
                                    <fc-textarea [fcLabel]="'大文本框'" name="textareaname2" [fcRow]="'2'" [fcDisabled]="'Y'"></fc-textarea>
                                </div>
                                <div fccontent2>
                                    <fc-any [fcLabel]="'自定义下拉单选'" [(ngModel)]="anyValue" [fcOption]="anyOptions" name="anyname2" [fcDisabled]="'Y'"></fc-any>
                                    <fc-many [fcLabel]="'自定义下拉多选'" [(ngModel)]="manyValue" [fcOption]="manyOptions" name="manyname2" [fcDisabled]="'Y'"></fc-many>
                                    <fc-chosen [fcLabel]="'下拉多选'" [fcLabel]="'下拉多选'" [(ngModel)]="chosenValue" [fcOption]="chosenOptions" name="chosename2" [fcDisabled]="'Y'"></fc-chosen>
                                    <fc-datetime [fcLabel]="'日期时间'" name="datetimename2" [fcDisabled]="'Y'"></fc-datetime>
                                    <fc-text [fcLabel]="'后置标签文本'" [(ngModel)]="addonbefore" [fcAddOnAfter]="'万元'" name="textoutright2" [fcDisabled]="'Y'"></fc-text>
                                    <fc-check [fcLabel]="'多选'" [(ngModel)]="checkValue" [fcOption]="checkOptions" name="checkname2" [fcDisabled]="'Y'"></fc-check>
                                    <fc-radio [fcLabel]="'单选'" [(ngModel)]="radioValue" [fcOption]="radioOptions" name="radioname2" [fcDisabled]="'Y'"></fc-radio>
                                    <fc-switch [fcLabel]="'开关'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="switchname2"
                                        [fcDisabled]="'Y'"></fc-switch>
                                </div>
                            </fc-layoutcol>
                            <fc-layoutcol fcSpans="1,0">
                                <div fccontent1>
                                    <fc-textarea [fcLabel]="'占一列的大文本框'" name="textareaname1" [fcRow]="'2'" [fcCol]="'1'" [fcDisabled]="'Y'"></fc-textarea>
                                </div>
                            </fc-layoutcol>
                        </div>
                    </nz-tab>
                </nz-tabset>
            </fc-layoutpanel>
        </form>
    </fc-layoutrow>>
</fc-layoutpanel>