<!-- 徽标 fc-badge -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
   <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="文字提示" fccontent1 fcSubtitle="简单的文字提示气泡框。"    ></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="鼠标移入则显示提示，移出消失，气泡浮层不承载复杂文本和操作。可用来代替系统默认的 title 提示，提供一个按钮/文字/操作的文案解释。"    ></fc-title>
        <fc-title fcLabel="代码演示" fcheader    ></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader     fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-tooltip fcSize="default" fcTitle="我是tootlp" >
                            <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                    <div fccontent>
                        <fc-tooltip fcTitle="我是tootlp" style="margin-right: 10px;">
                            <fc-icon fccontent fcIcon="fc-icon-notice" fcSize="large" ></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip fcSize="default" fcTitle="我是tootlp" style="margin-right: 10px;">
                                <fc-icon fccontent fcIcon="fc-icon-notice" fcSize="default" ></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip fcSize="default" fcTitle="我是tootlp" style="margin-right: 10px;">
                                <fc-icon fccontent fcIcon="fc-icon-notice" fcSize="small"></fc-icon>
                        </fc-tooltip>    
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="content" fcTitle="模版内容" fccontent1>
                    <div fccontent>
                        <div fccontent>
                            <fc-tooltip fcSize="default" fcTitle="我是tootlp">
                                <div fccontent class="badgecontent">自定义模版</div>
                            </fc-tooltip>
                        </div>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="position" fcTitle="显示位置" fccontent2>
                    <div fccontent>
                        <fc-tooltip fcPosition="top" fcTitle="我是tootlp" style="margin-right: 10px;">
                            <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                        <fc-tooltip fcPosition="left"   fcTitle="我是tootlp" style="margin-right: 10px;">  
                            <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                        <fc-tooltip fcPosition="right"   fcTitle="我是tootlp" style="margin-right: 10px;">
                            <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="trigger" fcTitle="触发方式" fccontent1>
                    <div fccontent>
                        <fc-tooltip  fcPosition="top" fcTrigger="hover"  fcTitle="我是tootlp" style="margin-right: 10px;">
                                <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                        <fc-tooltip  fcPosition="left" fcTrigger="click"  fcTitle="我是tootlp" style="margin-right: 10px;">
                                <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                        <fc-tooltip  fcPosition="left" fcTrigger="focus" fcTitle="我是tootlp" style="margin-right: 10px;">
                                <div fccontent class="badgecontent">自定义模版</div>
                        </fc-tooltip>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
            <!-- API -->
        <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'size','label':'大小'},
            {href:'type','label':'类型'},
            {href:'content','label':'模版内容'},
            {href:'icon','label':'图标'},
            {href:'position','label':'显示位置'},
            {href:'trigger','label':'触发方式'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
</fc-layoutpanel>