<!-- 表单模板 -->
<fc-layoutpanel class="templateform" [fcFull]="true">
    <fc-layoutrow fcSpan="20" fccontent>
        <fc-tlbform [fcAppid]="'SYSAPP'" fccontent1 (fcEvent)="tlbformEvent($event)"></fc-tlbform>
        <form fccontent2 class="templateform-form">
            <fc-title fcLabel="组织维度信息" fcBorder="bottom" fccontent fcWidth="96%"></fc-title>
            <fc-layoutcol fcSpans="1,1" fccontent>
                <div fccontent1>
                    <fc-text fcLabel="组织维度代码" fcPlaceHolder="" [(ngModel)]='mainObj.SDIM_CODE' fcReadonly="Y" name="SDIM_CODE"></fc-text>
                    <fc-radio fcLabel="默认维度" [(ngModel)]="mainObj.BIS_DEFAULT" [fcAppid]="appId" fcFieldCode="BIS_DEFAULT" 
                    fcValueCode="DICVALUE" fcLabelCode="DICDESC" name="BIS_DEFAULT">
                </fc-radio>
                    <!-- <fc-text fcLabel="创建单位" ></fc-text> -->
                    <fc-radio fcLabel="是否启用" [(ngModel)]="mainObj.BIS_USE" name="BIS_USE" [fcAppid]="appId" fcFieldCode="BIS_USE"
                        fcValueCode="DICVALUE" fcLabelCode="DICDESC" ></fc-radio>
                        <!-- 关联应用数据未确定 -->
                    <fc-chosen fcLabel="关联应用" [(ngModel)]="mainObj.BIS_USE" name="BIS_USE" [fcAppid]="appId" fcFieldCode="BIS_USE" 
                        fcValueCode="DICVALUE" fcLabelCode="DICDESC" ></fc-chosen>

                </div>
                <div fccontent2>
                    <fc-text fcLabel="组织维度名称" name="SDIM_NAME" [(ngModel)]='mainObj.SDIM_NAME' fcRequire="Y" ></fc-text>
                    <fc-radio fcLabel="是否内置" [(ngModel)]="mainObj.BIS_SYS" name="BIS_SYS" [fcAppid]="appId" fcFieldCode="BIS_SYS" 
                        fcValueCode="DICVALUE" fcLabelCode="DICDESC" fcShowSearch="Y" ></fc-radio>
                    <fc-radio fcLabel="是否向下" [(ngModel)]="mainObj.BIS_SHOW" name="BIS_SHOW" [fcAppid]="appId" fcFieldCode="BIS_SHOW"
                        fcValueCode="DICVALUE" fcLabelCode="DICDESC"></fc-radio>
                    <fc-text fcLabel="排序码" name="SORDER_CODE" [(ngModel)]='mainObj.SORDER_CODE' fcRequire="Y" [fcValid]="mainValid.SORDER_CODE"></fc-text>
                </div>
            </fc-layoutcol>
        </form>>
    </fc-layoutrow>
</fc-layoutpanel>