<!-- 分隔 fc-divider -->
<fc-layoutpanel>
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="分隔" fccontent1 fcSubtitle="分隔组件"    ></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="内容之间需要有分隔时"    ></fc-title>
        <fc-title fcLabel="代码演示" fcheader    ></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader     fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,0">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                         <fc-pagination  [fcPageIndex]="1" [fcTotal]="50"></fc-pagination>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    fcview='<fc-divider></fc-divider>' [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="total" fcTitle="每页显示条数" fccontent2>
                    <div fccontent>
                         <fc-pagination  [fcPageIndex]="3" [fcTotal]="500" [fcShowSizeChanger]="Y" [fcPageSize]="10"></fc-pagination>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    fcview='<fc-divider></fc-divider>' [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="jump" fcTitle="快速跳页" fccontent1>
                    <div fccontent>
                         <fc-pagination  [fcPageIndex]="2" [fcTotal]="500" [fcShowQuickJumper]="Y"></fc-pagination>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    fcview='<fc-divider></fc-divider>' [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'total','label':'显示条数'},
            {href:'jump','label':'快速跳页'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
</fc-layoutpanel>