<fc-layoutpanel [fcFull]="true">
    <fc-layoutcol class="sys-auth" fccontent fcSpans="2,9">
        <fc-layoutrow class="left" fcSpan="48" fccontent1>
            <fc-title fcLabel="所有角色" fcHasLine="false" [fcBorder]="'bottom'" fcWidth="100%" fccontent1></fc-title>
            <fc-list [fcAppid]="'SYSROLE'" fcIcon="fc-icon-limits" [fcFieldCode]="'ROLENAME'" fccontent2 [fcSelectedId]="selectedId"
                [fcCondition]="listCondition" (fcEvent)="listEvent($event)"></fc-list>
            <!-- 新增角色 -->
            <fc-icon fccontent2 (click)="listAdd($event);" class="fc-role-add" title="添加角色" [fcIcon]="'fc-icon-keep'"
                [fcSize]="'large'" [fcColor]="'#108ee9'"></fc-icon>
        </fc-layoutrow>
        <nz-tabset class="sys-auth-tab" fccontent2  nzSize="small">
            <nz-tab nzTitle="该角色的用户">
                <!-- 新增用户 -->
                <fc-button class="sys-auth-adduser" fcType="primary" fcSize="large" fcIcon="fc-icon-add" fcToolTip="添加用户"
                    fcShape="circle" (click)="modalMullist1.showModal();"></fc-button>
                <!-- 该角色的其他用户 -->
                <fc-modallist #modalMullist1 fcTitle="请选择用户" [fcAppid]="'SYSUSER'" [fcType]="'multiple'" (fcEvent)="modallistEvent($event)"></fc-modallist>
                <div class="sys-auth-listdata" fccontent2>
                    <!-- 该角色的用户 -->
                    <fc-listdata fcAppid="SYSROLEUSER" (fcEvent)="listdataEvent($event)" [fcCondition]="condition"
                        [fcOption]="listdataOption"></fc-listdata>
                </div>
            </nz-tab>
            <nz-tab nzTitle="该角色的权限">
                <!-- 第二层选项卡 -->
                <nz-tabset class="child-tab" [nzTabPosition]="'top'" [nzType]="'card'" nzSize="small">
                    <nz-tab nzTitle="授权菜单">
                        <fc-layoutcol fcSpans="3,7" class="sysrole-auth">
                            <fc-tree fccontent1 #menutree class="sysrole-auth-tree" [fcOption]="menuTreeOptions" [fcNodes]="fcNodes"
                                (fcEvent)="menuTreeEvent($event);"></fc-tree>
                        </fc-layoutcol>
                    </nz-tab>
                    <nz-tab nzTitle="授权单位">
                        123
                    </nz-tab>
                    <nz-tab nzTitle="授权部门">
                        123
                    </nz-tab>
                    <nz-tab nzTitle="授权数据源">
                        123
                    </nz-tab>
                    <nz-tab nzTitle="授权维度">
                        123
                    </nz-tab>
                    <nz-tab nzTitle="授权分组">
                        <fc-layoutgroup fcTitle="授权工具栏按钮">
                            <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE"
                                [fcCondition]="toolbarBtnCdc" fcLableCode="BTNNAME" fcValueCode="BTNCODE"></fc-check>
                        </fc-layoutgroup>
                        <fc-layoutgroup fcTitle="授权列表按钮">
                            <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE"
                                [fcCondition]="listCdc" fcLableCode="BTNNAME" fcValueCode="BTNCODE"></fc-check>
                        </fc-layoutgroup>
                        <fc-layoutgroup fcTitle="授权表单按钮">
                            <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE"
                                [fcCondition]="formContition" fcLableCode="BTNNAME" fcValueCode="BTNCODE"></fc-check>
                        </fc-layoutgroup>
                    </nz-tab>
                </nz-tabset>

            </nz-tab>
        </nz-tabset>
    </fc-layoutcol>
</fc-layoutpanel>
<!-- 新增角色弹窗 -->
<fc-modalcard fcTitle="新增角色" [fcToken]="sysroleEditToken" [fcFooter]="null">
    <sysroleeidtdialog [fcToken]="sysroleEditToken" [roleId]="selectedRoleId" [roleObj]="seletedRoleObj"
        [listCondition]="listCondition" fccontent></sysroleeidtdialog>
</fc-modalcard>
<!-- 修改角色弹窗 -->
<fc-modalcard fcTitle="修改角色" [fcToken]="sysroleModifyToken" (fcEvent)="modifySysroleEvent($event)">
    <fc-text fcLabel="角色名" [(ngModel)]="modifyRoleName" fccontent></fc-text>
</fc-modalcard>