<!-- 图标 fc-icon -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="图标" fccontent1 fcSubtitle="语义化的矢量图形。"    ></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="我们为每个图标赋予了语义化的命名"    ></fc-title>
        <fc-title fcLabel="代码演示" fcheader    ></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
                <fc-title fcLabel="属性" fcheader     fcSize="small"></fc-title>  
                <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                            <div fccontent>
                                <fc-icon fcIcon="fc-icon-notice" fcSize="default" fcToolTip="default"></fc-icon>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                            fcview='<fc-icon fcIcon="fc-icon-notice" fcSize="default" fcToolTip="default"></fc-icon>'
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="size" fcTitle="图标大小" fccontent2>
                            <div fccontent>
                                    <fc-icon fcIcon="fc-icon-notice" fcSize="large" ></fc-icon>
                                    <fc-icon fcIcon="fc-icon-notice" fcSize="default" ></fc-icon>
                                    <fc-icon fcIcon="fc-icon-notice" fcSize="small"></fc-icon>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="图标有三种大小:大(large)、默认(default)、小(small)。"
                            [fcview]="sizeview"
                            [fccode]="basicjs">
                        </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="tooltip" fcTitle="图标提示" fccontent1>
                            <div fccontent>
                                    <fc-icon fcIcon="fc-icon-notice" fcSize="default" fcToolTip="图标大小为默认" fcFontSize="30px"></fc-icon>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="图标有三种大小:大(large)、默认(default)、小(small)。"
                            [fcview]="sizeview"
                            [fccode]="basicjs">
                        </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="svg" fcTitle="动态图标" fccontent1>
                            <div fccontent>
                                <fc-icon fcSvg="fc-icon-daohang"></fc-icon>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="图标有三种大小:大(large)、默认(default)、小(small)。"
                            [fcview]="sizeview"
                            [fccode]="basicjs">
                        </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="svgsize" fcTitle="动态图标大小写法" fccontent2>
                            <div fccontent>
                                <fc-icon fcSvg="fc-icon-daohang" fcWidth="50" fcHeight="50"></fc-icon>
                                <fc-icon fcSvg="fc-icon-daohang" fcWidth="100" fcHeight="100"></fc-icon>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="图标有三种大小:大(large)、默认(default)、小(small)。"
                            [fcview]="sizeview"
                            [fccode]="basicjs">
                        </fc-adcode>
                        </fc-layoutgroup>
                </fc-layoutcol>   
        </fc-layoutpanel>            
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'size','label':'大小'},
            {href:'tooltip','label':'提示'},
            {href:'svg','label':'动态图标'},
            {href:'svgsize','label':'动态图标大小'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->   
</fc-layoutpanel>