<!-- 表单列表模板 -->
<fc-layoutpanel class="templateformlists">
	<fc-layoutrow fcSpan="20" fccontent>           
		<fc-tlbform [fcAppid]="'SYSAPP'" fccontent1 (fcEvent)="tlbformEvent($event)"></fc-tlbform>
		<fc-layoutcol fcSpans="17,2" fccontent2>
			<form fccontent1>
				<fc-layoutpanel fccontent id="id0">
					<fc-title fcLabel="用户明细信息" fcBorder="bottom" fcWidth="100%" fcheader></fc-title>
					<nz-tabset fccontent>
						<nz-tab nzTitle="基本信息">
							<div>
								<fc-layoutcol>
									<div fccontent1>
										<fc-text fcLabel="用户编码" [(ngModel)]='mainObj.USERCODE' [fcAppid]="appId" name="USERCODE" [fcValid]="mainValid.USERCODE"></fc-text>
										<fc-combo fcLabel="所属单位" [(ngModel)]="mainObj.SCOMPANY_CODE" name="SCOMPANY_CODE" fcAppid="SYSCOMPANY"
										 fcFieldCode="SCOMPANY_CODE" fcValueCode="SCOMPANY_CODE" fcLabelCode="SCOMPANY_NAME"></fc-combo>
										<!-- <fc-date [fcLabel]="'日期'" name="datename"></fc-date> -->
										<fc-date fcLabel="生效日期" [(ngModel)]='mainObj.SBEGIN_DATE' name="SBEGIN_DATE" fcFieldCode="DICVALUE" fcValueCode="DICVALUE"></fc-date>
										<fc-combo fcLabel="用户类型" [(ngModel)]='mainObj.SUSER_TYPE' name="SUSER_TYPE" [fcAppid]="appId" fcFieldCode="SUSER_TYPE"
										 fcValueCode="DICVALUE" fcLabelCode="DICDESC"></fc-combo>
										<fc-text fcLabel="移动电话" [(ngModel)]='mainObj.STEL' name="STEL"></fc-text>
										<fc-text fcLabel="固定电话" [(ngModel)]='mainObj.SOFFICE_PHONE' name="SOFFICE_PHONE" [fcValid]="mainValid.SOFFICE_PHONE"></fc-text>
										<fc-radio fcLabel="是否默认密码" [(ngModel)]='mainObj.BIS_DEFAULT_PASSWORD' name="BIS_DEFAULT_PASSWORD" fcAppid="SYSDICDETAIL"
										 fcFieldCode="DICVALUE" fcValueCode="DICVALUE" fcLabelCode="DICDESC" fcCondition='{"WHERE":"{DICID:{eq:\"SYSYORNZH\"}}"}'></fc-radio>
										<fc-text fcLabel="密码错误次数" [(ngModel)]='mainObj.SERROR_NUMBER' name="SERROR_NUMBER"></fc-text>
										<fc-radio fcLabel="是否锁定" [(ngModel)]='mainObj.BIS_LOCK' name="BIS_LOCK" fcAppid="SYSDICDETAIL" fcFieldCode="DICVALUE"
										 fcValueCode="DICVALUE" fcLabelCode="DICDESC" fcCondition='{"WHERE":"{DICID:{eq:\"SYSYORNZH\"}}"}'></fc-radio>

									</div>
									<div fccontent2>
										<fc-text fcLabel="用户名称" [(ngModel)]='mainObj.NAME' name="NAME" [fcValid]="mainValid.NAME"></fc-text>
										<fc-combo fcLabel="所属部门" [(ngModel)]="mainObj.SDEPT_CODE" name="SDEPT_CODE" fcAppid="SYSDEPARTMENT"
										 fcFieldCode="SDEPT_CODE" fcValueCode="SDEPT_CODE" fcLabelCode="SDEPT_NAME"></fc-combo>
										<!-- <fc-date [fcLabel]="'日期'" name="datename"></fc-date> -->
										<fc-date fcLabel="失效日期" [(ngModel)]='mainObj.SEND_DATE' name="SEND_DATE" fcFieldCode="DICVALUE" fcValueCode="DICVALUE"></fc-date>
										<fc-text fcLabel="工号" [(ngModel)]="mainObj.SJOB_NUMBER" name="SJOB_NUMBER" [fcAppid]="appId" fcFieldCode="SJOB_NUMBER"
										 fcValueCode="DICVALUE" fcLabelCode="DICDESC"></fc-text>
										<fc-text fcLabel="身份证" [(ngModel)]="mainObj.SID_CARD" name="SID_CARD" [fcValid]="mainValid.SID_CARD"></fc-text>
										<fc-text fcLabel="电子邮件" [(ngModel)]="mainObj.SEMAIL" name="SEMAIL" [fcValid]="mainValid.SEMAIL"></fc-text>
										<fc-text fcLabel="修改密码时间" [(ngModel)]="mainObj.SLAST_MODIFY_TIME" name="SLAST_MODIFY_TIME"></fc-text>
										<fc-text fcLabel="锁定时间" [(ngModel)]="mainObj.SLOCK_TIME" name="SLOCK_TIME" fcFieldCode="DICVALUE" fcValueCode="DICVALUE"></fc-text>
										<fc-radio fcLabel="启用" [(ngModel)]="mainObj.ENABLE" name="ENABLE" fcAppid="SYSDICDETAIL" fcFieldCode="DICVALUE"
										 fcValueCode="DICVALUE" fcLabelCode="DICDESC" fcCondition='{"WHERE":"{DICID:{eq:\"SYSYORNZH\"}}"}'></fc-radio>
									</div>
								</fc-layoutcol>
								<fc-layoutcol fcSpans="1,0" fccontent>
									<div fccontent1>
										<fc-textarea fcLabel="备注" [(ngModel)]="mainObj.REMARK" name="REMARK" [fcCol]="'1'" [fcRow]="'2'"></fc-textarea>
									</div>
								</fc-layoutcol>
							</div>
						</nz-tab>
						<nz-tab nzTitle="管控单位">
							<nz-table #editRowTable nzBordered [nzData]="dataSet">
								<thead>
									<tr>
										<th nzWidth="30%">管控单位</th>
										<!-- <th (click)="addRow()" class="editable-add-btn">添加</th> -->
										<th  class="editable-add-btn">
											<fc-button [fcType]="'primary'" (click)="modalMullist1.showModal()" fcLabel="添加"></fc-button>
										</th>
										<fc-modallist #modalMullist1 fcTitle="单位" fcAppid="SYSCOMPANY" [fcType]="'multiple'" (fcEvent)="modalClose($event)"></fc-modallist>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let data of editRowTable.data">
										<td>{{data.name}}</td>
										<td>
											<nz-popconfirm [nzTitle]="'确定删除该条数据吗?'" (nzOnConfirm)="deleteRow(data.key)">
												<a nz-popconfirm>删除</a>
											</nz-popconfirm>
										</td>
									</tr>
								</tbody>
							</nz-table>
						</nz-tab>
						<nz-tab nzTitle="选择角色" (click)="getProject()">
							<nz-transfer [nzDataSource]="list" [nzTitles]="['待选角色','已选角色']" [nzListStyle]="{'width.px': 300, 'height.px': 300}"
							 [nzRender]="render"   (nzSelectChange)="select($event)" (nzChange)="change($event)">
								<ng-template #render let-item>
									{{ item.title }}
								</ng-template>
							</nz-transfer>
						</nz-tab>
					</nz-tabset>
				</fc-layoutpanel>
			</form>
		</fc-layoutcol>
	</fc-layoutrow>
</fc-layoutpanel>