<!-- 模态框- 表单 fc-modalcard -->
<fc-layoutpanel>
  <fc-title fcLabel="模态框-表单" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1,1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <fc-button fcLabel="打开弹窗" (click)="openDialog()"></fc-button>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="输入弹窗" fccontent1>
      <div fccontent>
        <fc-button fcLabel="打开输入弹窗" (click)="openInputDialog()"></fc-button>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="content为组件" fccontent2>
      <div fccontent>
        <!-- 弹窗1 -->
        <fc-modalcard (fcEvent)="modalEvent($event)">
          <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
          <fc-button fcLabel="fcOpen1" fcopen></fc-button>
        </fc-modalcard>
        <!-- 弹窗2 -->
        <fc-modalcard fcEvent="modalEvent($event)">
          <modalconfirm fccontent></modalconfirm>
          <a fcopen>弹窗2</a>
        </fc-modalcard>
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
  <!-- API -->
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="属性" fcheader></fc-title>
    <div style="height:450px;" fccontent>
      <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </div>
  </fc-layoutpanel>
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="事件" fcheader></fc-title>
    <div style="height:450px;" fccontent>
      <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </div>
  </fc-layoutpanel>
</fc-layoutpanel>